python-dotenv==0.12.0
amqp==2.4.1
appnope==0.1.0
arrow==0.13.0
asn1crypto==0.24.0
attrs==18.2.0
Automat==0.7.0
backcall==0.1.0
beautifulsoup4==4.7.1
billiard==3.5.0.5
celery==4.2.1
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
constantly==15.1.0
cryptography==2.5
cssselect==1.0.3
decorator==4.3.2
Django==2.2.10
django-extensions==2.1.5
django-filter==2.1.0
django-prettyjson==0.4.1
django-redis==4.10.0
djangorestframework==3.9.1
drf-renderer-xlsx==0.3.2
et-xmlfile==1.0.1
howdoi==1.1.14
hyperlink==18.0.0
idna==2.8
iexfinance==0.3.5
incremental==17.5.0
jdcal==1.4
jedi==0.13.2
kombu==4.3.0
lxml==4.3.0
Markdown==3.0.1
numpy==1.16.1
openpyxl==2.6.0
pandas==0.24.0
parsel==1.5.1
parso==0.3.2
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==2.0.8
psycopg2==2.7.7
psycopg2-binary==2.7.7
ptyprocess==0.6.0
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycparser==2.19
PyDispatcher==2.0.5
Pygments==2.3.1
PyHamcrest==1.9.0
pyOpenSSL==19.0.0
pyquery==1.4.0
python-dateutil==2.7.5
python-scrapyd-api==2.1.2
pytz==2018.9
queuelib==1.5.0
redis==3.2.0
requests==2.21.0
requests-cache==0.4.13
Scrapy==1.6.0
scrapyd==1.2.0
service-identity==18.1.0
six==1.12.0
soupsieve==1.7.3
standardjson==0.3.1
tqdm==4.31.1
traitlets==4.3.2
Twisted==19.7.0
urllib3==1.24.1
vine==1.2.0
w3lib==1.20.0
wcwidth==0.1.7
zope.interface==4.6.0
